@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

.footer-wrap {
  font-family: "Gowun Batang", serif;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  span {
    padding: 5px;
    text-align: center;
  }
}
