.banner-img-wrap {
  height: 100vh;
  overflow: hidden;
  background-image: url(../assets/@temp/yeoyeo_outside.jpg);
  // background-size: cover;
}

.room-wrap {
  display: flex;
  flex-direction: column;
  width: 1280px;
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}
