@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

.room-wrap {
  font-family: "Gowun Batang", serif;
  background-color: #f5f4f0;
  .banner-img-wrap {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .room-inner {
    padding: 0 30px;
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #e5e7eb;

    @include md {
      width: 100%;
    }

    .room-padding {
      height: 60px;
    }

    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;

      .divider-line {
        height: 1px;
        width: 100%;
        background-color: #e5e7eb;
      }
    }

    .floor-plan {
      border-top: 1px solid #e5e7eb;
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .swiper-wrap {
    border-top: 1px solid #e5e7eb;
    padding: 60px 20px 20px 20px;

    .swiper-slide {
      .img-wrap {
        aspect-ratio: 16/9;
        overflow: hidden;
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }

  .welcome-title {
    display: flex;
    margin-top: 100px;
    font-size: large;
    line-height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      display: block;
      content: "";
      width: 20px;
      border: 1px solid #ebe5eb;
      margin: 5px;
    }
  }

  .welcome-description {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 3px;
  }

  .room-detail {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 30px;
    gap: 10px 20px;
    margin-top: 120px;

    .room-order {
      order: 1;
    }

    .room-detail-description {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      letter-spacing: 3px;
    }

    .room-title {
      font-size: large;
      padding: 20px;
      border-bottom: 1px solid #ebe5eb;
    }

    .room-features {
      margin-top: 36px;
      display: flex;
      flex-direction: column;

      span {
        padding-left: 20px;
        margin: 10px;
        white-space: pre-line;
        line-height: 25px;
      }
    }

    .room-detail-pictures {
      display: flex;

      .room-detail-grid-item {
        padding: 10px;
      }

      img {
        width: 100%;
      }
    }
  }

  .room-detail2 {
    grid-template-columns: 2fr 1fr;
  }
}
